body {
  padding: 50px;
  
 
}

h1 {
  text-decoration: underline slategray;
}

a {
  color: slategray;
  text-decoration: underline;
  
}


li {
  display: flex;
  flex-direction: row;
  background: linear-gradient(to right, lightgray, darkgray);
  border-radius: 10px;
  box-shadow: 0 3px 3px 0;
  list-style: none;
  text-align: center;
  margin: 15px 200px 15px 20px;
}

button {
  background-color: slategray;
  margin-right: 10px;
  margin-left: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px;
}

a, li {
  font-size: 17px;
}

